{% extends 'hello/base.html' %}
{% block title %}placed{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin:100px;
}

td, th {
  border: 3px solid skyblue;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<br>
<br>
<h2><center><font face="Bebas Neue" size="10px">PLACEMENTS</font></center></h2>

<table >
  <tr>
    <th>STUDENT</th>
    <th>NAME</th>
    <th>COMPANY</th>
    <th>PACKAGE</th>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>RAHUL</td>
    <td>MICROSOFT</td>
    <td>30 LACS</td>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>SHIVA</td>
    <td>GOOGLE</td>
    <td>20 LAC</td>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>RAJU</td>
    <td>IBM</td>
    <td>29 LACS</td>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>ASHRITH</td>
    <td>AMAZON</td>
    <td>29 LACS</td>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>AJAY</td>
    <td>INFOSYS</td>
    <td>15 LACS</td>
  </tr>
  <tr>
    <td><img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" width="100" height="100" class="rounded-circle border border-white"></td>
    <td>MAHESH</td>
    <td>TCS</td>
    <td>10 LACS</td>
  </tr>
</table>

</body>
</html>


{%endblock body%}
